/.idea/libraries/Maven__com_google_zxing_core_3_3_0.xml
/.idea/.gitignore
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_56.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
