<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.demo.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.auto.demo.entity.Attachment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="field_id" jdbcType="INTEGER" property="fieldId" />
    <result column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, entity_id, field_id, data_id, path, name, type, size, create_by, create_time,
    update_by, update_time
  </sql>


  <select id="getAttach" resultType="com.auto.demo.entity.Attachment">
        SELECT * FROM attachment
        <where>
         <if test="null != param.entityId">
           and entity_id = #{param.entityId}
         </if>
          <if test="null != param.search">
            and (name like concat('%',#{param.search},'%') or path like concat('%',#{param.search},'%'))
          </if>
        </where>
        <if test=" null == param.sort">
            order by create_time desc
        </if>
  </select>
</mapper>
